.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 250px;
    gap: 5px;
    background-color: black;
    height: 250px;
  }
  .i {
    background-color: white;
    height: 80px;
    width: 80px;
    align-items: center;
  }
  img {
    height: 80px;
    width: 80px;
  }